<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568450203907-c3cr8a49ifnu9pm0g2g542sq21m1eks3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568450203907-c3cr8a49ifnu9pm0g2g542sq21m1eks3</string>
	<key>API_KEY</key>
	<string>AIzaSyBLhc1zvpaNRCscIrRO67iPLC8ba2E-CCk</string>
	<key>GCM_SENDER_ID</key>
	<string>568450203907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.malcolm.dossier</string>
	<key>PROJECT_ID</key>
	<string>dossier-a8fe7</string>
	<key>STORAGE_BUCKET</key>
	<string>dossier-a8fe7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568450203907:ios:58f00169bb6254f1fba936</string>
	<key>DATABASE_URL</key>
	<string>https://dossier-a8fe7-default-rtdb.firebaseio.com</string>
</dict>
</plist>